<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Name" value="ECQ"/>
    <add key="ServerHost" value="172.20.1.60"/>
    <add key="SystemNumber" value="00"/>
    <add key="User" value="RFCUSER"/>
    <add key="Password" value="Welcome@2"/>
    <add key="Client" value="400"/>
    <add key="Language" value="EN"/>
    <add key="PoolSize" value="5"/>
    <add key="PeakConnectionsLimit" value="10"/>
    <add key="IdleTimeout" value="600"/>
  </appSettings>
</configuration>
